*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 20%;
    height: 20%;
    color: white;
    background-color: black;
    margin: 30px;
    padding: 60px;
    background-image: url(https://images.unsplash.com/photo-1761839258075-585182da7521?ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);

}

#car1{
    width: 100px;
    height: 100px;
    background-color: red;
}

#car2{
    position: absolute;
    left: 20%;
    width: 110px;
    height: 110px;
    background-color: blue;
}

#car3{
    width: 120px;
    height: 130px;
    background-color: gold;
}

#box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 100px;
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
}
#box3{
    width: 100px;
    height: 100px;
    background-color: orange;
}