
body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

/* div{
    background-color: aqua;
}

.btn{
    margin: 10px;
    background-color: blue;
} */

.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    padding-top: 10px;
}